---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Research from '../components/Research.astro';
import Members from '../components/Members.astro';
import Blog from '../components/Blog.astro';
import Access from '../components/Access.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="生体運動研究室| 研究室HP">
	<Header />
	<main>
		<Hero />
		<Research />
		<Members />
		<Blog />
		<Access />
	</main>
	<Footer />
</Layout>


