---
// src/components/Footer.astro
---
<footer class="bg-slate-900 text-white py-12">
  <div class="container mx-auto px-6 flex flex-col md:flex-row justify-between items-center">
    <div class="mb-6 md:mb-0">
      <p class="font-bold text-xl">Biological motility Laboratory</p>
      <p class="text-slate-400 text-sm mt-1">© 2024 Lab Name All Rights Reserved.</p>
    </div>
   <div class="mb-6 md:mb-0">
      <a href="https://www.jka-cycle.jp"><img src="/src/assets/keirin_banner.png" alt="ロゴ" /></a>
   </div>
  <div class="mb-6 md:mb-0">
      <a href="https://www.jka-cycle.jp"><img src="/src/assets/keirinjp_banner.gif" alt="ロゴ" /></a>
   </div>

    <div class="flex gap-6">
      <a href="https://instagram.com" class="hover:text-pink-400 transition" target="_blank">Instagram</a>
      <a href="https://x.com" class="hover:text-blue-400 transition" target="_blank">X (Twitter)</a>
    </div>
  </div>
</footer>